<div class="modal fade" id="nftMintModal" tabindex="-1" role="dialog" aria-labelledby="nftMintModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="nftMintModalLabel">Mint NFT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m-4" id="productMintForm" data-toggle="validator">
                    <input type="hidden" id="productId" value="">
                    <div class="form-group">
                        <label for="productQuantity" class="control-label">{{ @root.__ "Product quantity" }} *</label>
                        <input type="number" id="productQuantity" class="form-control" min="0" step="1"
                        onkeydown="if(event.key==='.'){event.preventDefault();}" onpaste="let pasteData = event.clipboardData.getData('text'); if(pasteData){pasteData.replace(/[^0-9]*/g,'');} " required/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary mr-auto" data-dismiss="modal">Close</button>
                <button type="button" id="buttonMint" class="btn btn-success">Mint</button>
            </div>
        </div>
    </div>
</div>
