<div class="col-md-6 offset-md-3">
	<h2 class="form-signin-heading text-danger text-center">Email Confirmation Error</h2>
	<h4 class="text-center">Your Confirmation Link is not Valid</h4>
	<div class="text-center">You are using wrong token to confirm your email or </br>your Account has been already verified</div>
	<div class="text-center">You can use this link to <a class="text-info" href='/customer/login'>login</a></div>
</div>