<div class="col-md-4 offset-md-4">
	<h2 class="form-signin-heading">Email Confirmed</h2>
	<div>Thanks for confirming your email. You will be redirected to the homepage in 10 seconds. <a href='/'>Or Click here to redirect now.</a></div>
  <script>
    setTimeout(function(){
      window.location.href = '/';
    }, 10000);
  </script>
</div>
