<div class="col-md-12 mx-sm-auto col-lg-12" >
	<form method="post" class="form-horizontal" id="customer-form" role="form" data-toggle="validator" novalidate="false">
        <div class="col-sm-12 left-right-space-remove">
            <div class="page-header customer-header">
                {{!-- <div class="btn-group float-right" role="group" aria-label="Basic example">
                    <button class="btn btn-outline-success" id="createCustomer">Register</button>
                </div> --}}
                <h2>Customer</h2>
            </div>
        </div>
        <div class="col-sm-12 customer-form first-input-space">
            <div class="bottom-space">
            <label class="control-form-label">Email *</label>
                <input type="text" class="form-control" name="email" id="email" required>
            </div>
        </div>
        
        <div class="col-sm-8 customer-form">
            <div class="bottom-space">
            <label class="control-form-label">{{ @root.__ "Password" }} *</label>
                <input type="password" class="form-control" name="password" id="password" required>
            </div>
        </div>
        <div class="col-sm-8 customer-form">
          <div class="bottom-space">
            <label class="control-form-label" for="frm_userPassword_confirm">{{ @root.__ "Password confirm" }} *</label>
            <input type="password" data-match="#password" placeholder="Confirm password" class="form-control" id="frm_userPassword_confirm" name="frm_userPassword_confirm" required>
          </div>
        </div>       
        <input type="hidden" name="customerId" id="customerId" value="{{result._id}}">
    </form>
    <div class="row first-input-space customer-form">
       <div class="col-sm-12">
            <button class="btn register-btn-style" id="createCustomer">
                Register
            </button>
        </div>
    </div>
    <div class="control-form-bottom-align"></div>
</div>
  <div class="spinner-border text-primary" style="position: fixed;left:50%" id="loder" role="status">
            <span class="sr-only">Loading...</span>
 </div>
<div class="nft-store-text-style1">
   <a href="/" style="text-decoration: none;"><p>
        PEER<span class="text-blue font-normal">PLAYS</span><br/>
        <span class="text-blue">NFT STORE</span>
    </p></a>
</div>
