html {
  position: relative;
  min-height: 100%;
}
body {
  /* margin-bottom: 140px; */
  background-color: #f5f5f5;
}
li.nav-item:hover{
  background:#f8f9fa !important  ;
}
html,
body {
  font-size: 16px;
}
svg {
  pointer-events: none;
}
.rating-fill {
  fill: #ffc107;
}
.ratingWrapper {
  padding-left: 15px;
}
.content-body {
  margin-bottom: 40px;
}
.menu-top {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.menu-side,
.product-layout {
  padding-top: 35px;
}
.menu-side-mobile {
  background-color: transparent !important;
  color: inherit !important;
  text-align: center;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.feather {
  width: 16px;
  height: 16px;
}
.dragable_item {
  cursor: move;
}
.page-header {
  padding-bottom: 5px;
}
.nft-image-open {
  cursor: pointer;
}
.cart-contents-title {
  font-size: 18px;
  font-weight: 700;
}
.cart-row {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
.cart-item-row {
  margin-top: 5px;
}
.cart-link {
  padding-left: 7px;
}
.cart-product {
  padding: 0 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #cc3a2c;
}
.cart-update-button {
  cursor: pointer;
}
.thumbnail-image {
  cursor: pointer;
}
#product-images {
  margin-bottom: 30px;
}
.product-layout {
  padding-top: 30px;
  padding-bottom: 30px;
}
.product-results h1 {
  font-size: 22px;
}
.product-title-image {
  margin: auto;
  max-height: 400px;
  width: 25vw;
}
.thumbnail-image-container .img-fluid {
  display: block;
  width: auto;
  max-height: 100%;
  margin: auto;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.navbar-brand {
  color: #cc3a2c;
  letter-spacing: 4px;
  padding-left: 20px;
  padding-top: 0;
  height: 80px;
  font-size: 55px;
}
.navbar-brand > img {
  width: auto;
  height: 100%;
}
.stripe-logo {
  height: 1.5rem;
}
/*
 * Sidebar
 */
 .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  background-color: white;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
.sidebar-sticky {
  position: relative;
  top: 0;
  height: 100vh;
  padding-top: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}
.sidebar .nav-link {
  font-weight: 400;
  color: #333;
}
.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}
.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}
.sidebar-brand {
  width: 80%;
}
.sidebar-search {
  text-align: center;
  /* width: 20%; */
}
.sidebar-addon {
  height: 40px;
}
.sidebar-link {
  display: inline-block;
  width: 80%;
}
.sidebar-link-addon {
  display: inline-block;
  width: 10%;
}
.vertical-center {
  display: flex;
  align-items: center;
}
.title-image-container .img-fluid {
  display: block;
  width: 40vw;
  max-height: 100%;
  margin: auto;
}
.w-40 {
  width: 40%;
}
@media(min-width:1400px) and (max-width:2500px){
  .title-image-container .img-fluid {
    width: 31vw;
  }
}
.img-thumbnail {
  border: 0;
}
.product-title {
  font-size: 20px;
  margin-top: 0px;
}
.product-title-home {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.product-price {
  padding-bottom: 10px;
  font-size: 20px;
  color: #aaaaaa;
}
.productOptions {
  padding-bottom: 15px;
}
.product-option {
  font-size: 18px;
}
.btnBuy,
.btnBid,
.body_text {
  padding-top: 15px;
  padding-bottom: 15px;
}
.product-option-text {
  font-size: 16px;
  color: #aaaaaa;
}
.seporator {
  padding-top: 5px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 6px;
}
.list-group-input-pad select {
  margin-top: -7px;
}
.pad-right-10 {
  padding-right: 10px;
}
.pad-right-15 {
  padding-right: 15px;
}
.no-pad-left {
  padding-left: 0px;
}
.no-pad-right {
  padding-right: 0px;
}
.top-marg-10 {
  margin-top: 10px;
}
.top-marg-15 {
  margin-top: 15px;
}
.top-marg-20 {
  margin-top: 20px;
}
.top-pad-5 {
  padding-top: 10px;
}
.top-pad-8 {
  padding-top: 8px;
}
.top-pad-10 {
  padding-top: 10px;
}
.top-pad-20 {
  padding-top: 20px;
}
.top-pad-50 {
  padding-top: 50px;
}
.top-pad-100 {
  padding-top: 100px;
}
.bottom-pad-10 {
  padding-bottom: 10px;
}
.bottom-pad-15 {
  padding-bottom: 15px;
}
.bottom-pad-20 {
  padding-bottom: 20px;
}
.bottom-pad-30 {
  padding-bottom: 30px;
}
.bottom-marg-10 {
  margin-bottom: 10px;
}
.bottom-marg-15 {
  margin-bottom: 15px;
}
.bottom-marg-20 {
  margin-bottom: 20px;
}
.left-pad-10 {
  padding-left: 10px;
}
.left-pad-30 {
  padding-left: 30px;
}
.right-pad-10 {
  padding-right: 10px;
}
.shipping-form input {
  margin-bottom: 15px;
}
#header {
  height: 50px;
}
.search-bar {
  margin-top: 10px;
}
.breadcrumb {
  background-color: #f8f9fa;
  margin-top: 10px;
}
.breadcrumbProPerRow-3 {
  margin-left: 10px;
  margin-right: 10px;
}
.searchProPerRow-3,
.searchProPerRow-4 {
  padding-left: 0;
  padding-right: 0;
}
.dropup-button {
  height: 34px;
  padding: 0px;
  color: white !important;
}
.dropdown-menu > li > a {
  padding-top: 5px !important;
}
.pad-bottom {
  padding-bottom: 25px;
}
.keywords {
  padding-bottom: 30px;
  padding-top: 20px;
  font-size: 19px;
}
.file-form {
  padding-left: 15px;
  padding-right: 15px;
}
.editor_btn_action {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}
.dropup-list {
  padding-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
#notify_message {
  position: fixed;
  display: none;
  z-index: 9999;
  padding-top: 10px;
  height: 50px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-size: 22px;
}
.input-group .form-control {
  z-index: 1;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.offcanvas-element {
  z-index: 100;
  background-color: #ffffff;
}
.product-item {
  padding-left: 5px;
  padding-right: 5px;
}
input:focus {
  outline: none;
  background: #fbfbe9;
}
input + label {
  display: block;
  cursor: text;
  transition: 0.15s ease-out all;
  position: absolute;
  top: 0.9em;
  left: 1.3em;
}
.floatLabel {
  top: 0.1em;
  left: 32px;
  font-size: 0.7em;
  color: #999999;
  font-weight: normal;
  transition: 0.15s ease-out all;
}
input.form-control.customerDetails {
  padding-bottom: 5px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 63px;
  /* background-color: #f5f5f5; */
}
.footer-heading-text h4 {
  color: #bababa;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}
.admin {
  margin-bottom: 0;
}
.previous a {
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}
.next a {
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.image-next {
  position: absolute;
  top: 180px;
  right: 0px;
}
.image-prev {
  position: absolute;
  top: 180px;
  left: 0px;
}
.image-button {
  cursor: pointer;
  opacity: 0.7;
}
.image-button-show {
  cursor: pointer;
  opacity: 0.7 !important;
}
.navbar-default {
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}
.btn-warning,
.btn-primary {
  color: #ffffff !important;
  background-color: #000000;
  border-color: #000000;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.focus,
.btn-primary:focus {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  opacity: 0.65;
}
.btn-danger {
  color: #ffffff;
  background-color: #cc3a2c;
  border-color: #cc3a2c;
}
.btn-danger:hover {
  color: #ffffff !important;
  background-color: #cc3a2c !important;
  border-color: #cc3a2c !important;
  opacity: 0.65;
}
.txt-danger {
  color: #cc3a2c;
}
a:hover,
a:focus {
  color: #000000;
}
a {
  color: #000000;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #000000;
  border-color: #000000;
}
.navbar-default .navbar-brand {
  color: #000000;
  font-size: 40px;
  font-weight: 700;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-brand-image {
  padding: 0px;
  height: 70px;
}

li.next a{
  background-color: black !important;
}
li.previous.disabled.page-item.active a,li.next.disabled.page-item.active a{
background-color: black !important;
}
li.page-item.active a{
  background-color: gray !important;
}
.pagination > li > a {
  background-color: #000000 !important;
}
.page-item.disabled .page-link {
  color: #b7b7b7;
}
.page-link {
  color: white;
  border: 0;
}
.page-link:hover {
  color: #aaaaaa !important;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000000;
}
.thumbnail {
  border: none;
}
.help-block {
  color: #95a5a6;
}
.modal-dialog-image {
  width: auto;
  max-width: fit-content;
}
.full-size-image {
  max-width: 100%;
  max-height: 100%;
}
#descriptionError, #titleError, #categoryError{
  color: #dc3545;
 }
@media only screen and (min-width: 768px) {
  .pushy {
    width: 700px;
  }
  .pushy-right {
    -webkit-transform: translate3d(700px, 0, 0);
    -ms-transform: translate3d(700px, 0, 0);
    transform: translate3d(700px, 0, 0);
  }
  .pushy-open-right #container,
  .pushy-open-right .push {
    -webkit-transform: translate3d(-700px, 0, 0);
    -ms-transform: translate3d(-700px, 0, 0);
    transform: translate3d(-700px, 0, 0);
  }
}
@media only screen and (max-width: 768px) {
  .pushy {
    width: calc(100%);
  }
  .pushy-right {
    -webkit-transform: translate3d(calc(100%), 0, 0);
    -ms-transform: translate3d(calc(100%), 0, 0);
    transform: translate3d(calc(100%), 0, 0);
  }
  .pushy-open-right #container,
  .pushy-open-right .push {
    -webkit-transform: translate3d(-calc(100%), 0, 0);
    -ms-transform: translate3d(-calc(100%), 0, 0);
    transform: translate3d(-calc(100%), 0, 0);
  }
  .showFooter {
    margin-bottom: 220px;
  }
  .title-image-container {
    height: auto;
  }
  .product-title {
    font-size: 18px;
    padding-top: 18px;
    min-height: auto;
  }
  .search-bar-input {
    padding-left: 0;
    padding-right: 0;
  }
  .menu-side {
    padding-top: 15px;
  }
  .product-layout {
    padding-top: 0px;
    padding-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }
  #btn_search {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .cart-row {
    padding-top: 10px;
    border-bottom: 1px solid #ecf0f1;
    display: block;
  }
  .cart-body {
    padding-top: 0px;
  }
  .cart-contents-shipping {
    padding-top: 10px;
  }
  #cart {
    padding-bottom: 15px;
  }
  .footer {
    height: 100px;
  }
  body {
    margin-bottom: 30px;
  }
  .navbar-brand {
    padding-left: 0px;
    height: auto;
  }
  .thumbnail {
    min-height: 0;
  }
}

.btn-delete-offer {
  cursor:pointer;
}

a {
  text-decoration: none;
  color: inherit;
} 

/* Layout */
.s-layout {
  display: flex;
  width: 100%;
}

.s-layout__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* Sidebar */
.s-sidebar__trigger {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  background: #192b3c;
}

.s-sidebar__trigger > i {
  display: inline-block;
  margin: 1.5em 0 0 1.5em;
  color: #f07ab0;
}

.s-sidebar__nav {
  position: fixed;
  top: 0;
  left: -15em;
  overflow: hidden;
  transition: all .3s ease-in;
  width: 17em;
  height: 100%;
  /* background: #fff;
  box-shadow: 0 3px 15px 2px #0000001a; */
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
  left: 0;
}


.s-sidebar__nav ul li {
  width: 100%;
}

.s-sidebar__nav-link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 4em;
}

.s-sidebar__nav-link em {
  position: absolute;
  top: 50%;
  left: 4em;
  transform: translateY(-50%);
}

.s-sidebar__nav-link:hover {
  background: #4d6276;
}


/* Mobile First */
@media (min-width: 42em) {
  .s-layout__content {
     /* margin-left: 4em; */
  }
  
  /* Sidebar */
  .s-sidebar__trigger {
     width: 4em;
  }
  
  .s-sidebar__nav {
     width: 4em;
     left: 0;
  }
  
  .s-sidebar__nav:hover,
  .s-sidebar__nav:focus,
  .s-sidebar__trigger:hover + .s-sidebar__nav,
  .s-sidebar__trigger:focus + .s-sidebar__nav {
     width: 17em;
  }
}

@media (min-width: 68em) {
  /* .s-layout__content {
     margin-left: 15em;
  } */
  
  /* Sidebar */
  .s-sidebar__trigger {
     display: none
  }
  
  .s-sidebar__nav {
     width: 17em;
  }
  
  .s-sidebar__nav ul {
     top: 1.3em;
  }
}

.nav-item h1 {
  color: #084AC2;
  font-size: 20px;
}
.nav-item a{
  color: #7B7B7B;
}
.nav-item i {
  color: #707070;
  font-size: 18px;
}
.logo-search-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 32px;
  cursor: pointer;
}
.nav-item {
  padding: .5rem 32px !important;
}
.sidebar-addon .nav-link {
  padding: .5rem 0 !important;
}
.sidebar-addon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-border .nav-link{
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}
.sidebar-heading {
  margin: .5rem 32px;
}
.sidebar-heading span {
  font-weight: 400;
}
.sidebar-addon a {
  font-size: 14px;
  font-weight: 600;
}
.dashboard-border a {
  font-size: 14px;
}
.logout-button-bottom {
    position: absolute;
    bottom: 15px;
}
.rounded-icon {
  width: 15px;
  height: 15px;
  background-color: #3D9AD4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content:  center;
  color: white;
}
.rounded-icon i {
  color: white;
  font-size: 8px;
}
.space-remove .nav-item {
  padding: 0rem 1rem !important;
}

.customer-box {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 3px 15px 2px #0000001a;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
}
.title-box h5 {
  color: #757575;
  font-size: 25px;
  margin: 0;
  text-transform: capitalize;
}
 .title-box{
  padding: 25px 25px 15px 25px;
  border-bottom: 1px solid #d1d1d1;
}
.account-details {
  padding: 25px;
}
.details-style p {
  font-size: 16px;
  color: #131313;
  font-weight: 600;
  margin-bottom: 0;
}
.details-style span {
  font-size: 14px;
  color: #131313;
}
.details-style {
  margin-bottom: 20px;
}
.modal-button-alignment .add-fun-button {
  background-color: #75ae4a;
}
button:focus{
  outline: none !important;
}
.modal-button-alignment .add-fun-button:hover {
  background-color: #426627;
}
.modal-button-alignment .same-button-style {
  min-width: 140px;
  border-radius: 999px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  height: 50px;
}

.modal-button-alignment .withdraw-button {
  background-color: #3d9ad4;
  margin-left: 1.25rem;
}

.modal-button-alignment .withdraw-button:hover {
  background-color: #236087;
  margin-left: 1.25rem;
}

.footer-top-align button:hover{
  background-color: #236087 !important;
}
.company-logo {
  position: absolute;
  top: .5rem;
  left: 1rem;
}
.company-logo h1 {
  font-size: 25px;
  color: #084AC2;
  user-select: none;
  cursor: pointer;
}

@media (min-width:0px) and (max-width:767px) {
  .company-logo {
    display: none;
  }
  .s-layout{
    width: auto;
  }
  .flex-mobile{
    display: flex;
  }
}
.company-logo a:hover {
  text-decoration: none;
}

.sidebar-opacity-none {
  opacity: 0;
  transition: .3s;
}
.s-sidebar__nav {
  background-color: transparent;
  box-shadow: none;
}
/* .s-sidebar__nav:hover .sidebar-opacity-none {
  opacity: 1;
  transition: .3s;
} */
.s-sidebar__nav-show {
  background: #fff;
  transition: .3s;
box-shadow: 0 3px 15px 2px #0000001a;
}
/* background: #fff;
box-shadow: 0 3px 15px 2px #0000001a; */

.sidebar-opacity-show {
  opacity: 1;
  transition: .3s;
}

.header-text-style h5 {
  color:#757575;
}
.footer-top-align {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-top-align .btn-success {
  background-color: #75ae4a;
  border: none;
  border-radius: 999px;
  height: 45px;
  min-width: 140px;
}

.footer-top-align  button  {
  background-color: #3d9ad4;
  border: none;
  border-radius: 999px;
  height: 45px;
  min-width: 140px;
}
.footer-top-align button:hover {
  background-color: #3D9AD4;
}

.footer-top-align .btn-success:hover {
  background-color: #426627 !important;
}

#btnModalWithdrawFunds{
  background-color: #3d9ad4;
  border: none;
  border-radius: 999px;
  height: 45px;
  min-width: 140px;
}
#btnModalWithdrawFunds:hover{
  background-color: #236087 !important;
}